*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

ul li {
    display: inline;
    list-style: none;
    justify-content: space-around;
    margin-right: 20px;
}

.button-blue{
    background-color: #0060ff;
    color: white;
    display: inline-block;
    padding:0.3rem;
}

.logo-dropbox{
    display: flex;
    align-items: center;
}

.jumbo{
    background-color: #b4d0e7;
}

.first-h1{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 5rem;
    padding: 4rem;
}

.colonne-jumbo{
    display: flex;
}

.img-jumbo{
    overflow: hidden;
}

.abbonamenti{
    border: solid black 2px;
}

.check-blue{
    color: #0060ff;
}

.bg-azzurro{
    background-color: #b4d0e7;
}

.black-footer{
    background-color: black;
    color: white;
}

h2.color-red{
    color: #69213d;
}

article.jumbo-article{
    text-align: center;
}


div.paragrafo{
    text-align: left;
    width: 25%;
    margin-left: 8rem;
}

.cartella-abbonamenti{
    max-width: 20%;
    border: solid 1px black;
    text-align: center;
}

.piano-buisness{
    margin-left: 8rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.button-fatturazioni{
    margin: 3rem;
    margin-left: 9rem;
    
}